<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>my blog application</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <p>chal rha h bhai</p>
</body>
</html>